* {
    margin:0;
    padding:0;
}

.starboybg {
    background-image: url(assets/starboy-bg.jpg);
    height: 120vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    }

.songs {
    text-align: center;
    font-family: fantasy;
    width:290px;
    margin: 4px;
    height:33px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    color:white;
    font-size:28px;
    border-radius: 50px;

}

.songs1 {
    text-align: center;
    font-family: fantasy;
    margin:4px;
    width:290px;
    height:33px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    color:white;
    font-size:28px;
    border-radius: 50px;

}

.songs:hover ,.songs1:hover {
    text-align: center;
    font-family: fantasy;
    width:290px;
    height:33px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    color:white;
    font-size:28px;
    border-radius: 50px;
}

a:link {
    color: blueviolet;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: blueviolet;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: mediumvioletred;
    background-color: transparent;
    text-decoration: underline;
  }